html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #0B6623;
  color: white;
  font: 16px / 1 sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.blackjackTable {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.houseContainer, .playerContainer {
  margin:6em;
  display:flex;
  flex-direction: column;
  align-items: center;
}

/* .houseDealtCards, .playerDealtCards {
  border: 1px solid red;
  width: 1000px;
  height: 1000px;
} */

.playerButtonOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}